@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: text1;
  src: url(./assets/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2);
}
@font-face {
  font-family: textm;
  src: url(./assets/opensauce-medium-DHCY1jhb.woff2);
}
@font-face {
  font-family: textr;
  src: url(./assets/opensauce-regular-BgP9H1xs.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy; */
  color: #777777;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #111111;
  overflow-x: hidden;
  /* overflow: hidden; */
}
.gradient-text {
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
